.search-container {
    display: flex;
    background: var(--bg-sec);
    padding: 0.625rem 1rem;
    border-radius: var(--border-radius);
}

.search-input {
    background: transparent;    
    color: var(--text-pri);
    width: 250px;
    border: none; 
}

.search-input:focus {
    outline: none;

}

.search-icon {
    height: 1rem;
    margin-left: 1rem; 
    color: var(--text-sec);
}